.custompage_box {
	width: 1000px;
	height: 600px;
	border: 1px solid #f60;
}

#custompage_draw {
	width: 598px;
	height: 550px;
	border: 1px solid #000000;
}

.draw_pic {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 1px solid #000000;
}

.active {
	width: 398px;
	height: 550px;
	border: 1px solid #000000;
}

.active h1 {
	text-align: center;
}

.active>div {
	margin: 10px;
}

.active input {
	border-radius: 4px;
	border: 1px solid #000000;
}

.active_text {
	border: 1px solid #000000;
}

.btn {
	padding: 4px 8px;
	background-color: #f2f2f2;
	border: 1px solid #000000;
	border-radius: 4px;
	cursor: pointer;
}

.custompage_sure {
	text-align: center;
}

.btn_custompage_sure {
	margin-top: 10px;
}
