.custompage_box {
	width: 1170px;
	height: 630px;
	border: 1px solid #f60;
}

#custompage_draw {
	width: 770px;
	height: 580px;
	border: 1px solid #000000;
}

.draw_pic {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 1px solid #000000;
}

.active {
	/* display: none; */
	width: 398px;
	height: 580px;
	border: 1px solid #000000;
}

.active h1,
.config h1 {
	text-align: center;
}

.active>div,
#config_box>div {
	margin: 10px;
}

.active input,
.config input {
	height: 24px;
	text-indent: 2px;
	border-radius: 4px;
	border: 1px solid #000000;
}

.active input.text {
	width: 90px;
}

.active_text {
	width: 250px;
}

.btn {
	padding: 4px 8px;
	background-color: #f2f2f2;
	border: 1px solid #000000;
	border-radius: 4px;
	cursor: pointer;
}

.custompage_sure {
	text-align: center;
}

.btn_custompage_sure {
	margin-top: 10px;
}

/*  */

.config {
	display: none;
	width: 398px;
	height: 580px;
	border: 1px solid #000000;
}

.config input {
	width: 200px;
}

.active_rect{
	width: 226px;
}

#config_box{
	height: 522px;
	overflow-x: hidden;
	overflow-y: auto;
}